*{
    color: rgb(246, 246, 246);
    text-decoration: rgb(0, 0, 0) 2px;
    -webkit-text-stroke: rgb(218, 134, 225) 0.5px;
    
}
body{

    background: #5f15b3;
    color: rgb(0, 17, 112);
}
.small-filter {
    width: 200px;
    height: 30px;
    border: 2px solid rgb(0, 0, 0);
  }
.container{
    background-color: #001a3e;
    
}
